n8n_workflows_json/response_handler.json
{
    "name": "4. Response Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "options": {}
            },
            "id": "k1a2f082-72a2-b281-0081-8b9cad0e1f20",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "model": "claude-3-haiku-20240307",
                "prompt": "={{ $json.body.text.body }}\n\nClassify intent: INTERESTED, QUESTION, OBJECTION, NOT_INTERESTED."
            },
            "id": "l81d4fae-7dec-11d0-a765-00a0c91e6bf6",
            "name": "Anthropic Claude",
            "type": "n8n-nodes-base.anthropic",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $json.from }}\", \"type\": \"text\", \"text\": { \"body\": \"Thanks for your message!\" } }"
            },
            "id": "m3b8d1b6-0b3b-4b1a-9c1a-1a2b3c4d5e6f",
            "name": "WhatsApp Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Anthropic Claude",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Claude": {
            "main": [
                [
                    {
                        "node": "WhatsApp Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}